<!doctype html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block styles %}
    {{ bootstrap.load_css() }}
    {% endblock %}

    <title>1º contato flask-bootstrap</title>
    {% endblock %}
</head>

<body>
    {% block content %}
    {% endblock %}

    {% block footer %}
        &copy; Copyright 2026 by
        <a href="https://github.com/leo-snczki">Leo</a> and
        <a href="https://github.com/rafa-mortis">Rafael</a>.
    {% endblock %}

    {% block scripts %}
    {{ bootstrap.load_js() }}
    {% endblock %}
</body>


</html>